body {
    background-color: #121212; 
    color: #e0e0e0; 
}
.user-item:hover {
    background-color: #343a40;  
    border-color: white;      
    transform: scale(1.05);      
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3); 
}
